<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Vue Boolzapp</title>
</head>

<body>
    <!-- Full Background -->
    <div class="bg_header"></div>
    <!-- Container + Vue -->
    <div id="app" class="container">


        <!-- Contact Section -->
        <div class="contact_container">
            <div class="profile">Sofia</div>
            <div class="notification">Notification</div>
            <div class="search">Search</div>


            <div class="all_chats">
                <div v-for="contact in contacts" class="chat">
                    <img :src="contact.avatar" alt="">
                    <div>
                        <span class="contact_name">{{ contact.name }}</span>
                        <span class="msg_time">12.00</span>
                        <p>Ultimo messaggio inviato</p>
                    </div>
                </div>
            </div>
        </div>




        <!-- Messages Section -->
        <div class="message_container">
            <div class="msg_cont_header"></div>

            

            <div class="msg_cont_main">

                <div v-for="contact in contacts" class="sent">
                    <p v-for="(message, i) in sentMessages(contact)" class="msg_sent">{{message}}</p>
                </div>
                <div class="received">
                    <p class="msg_received">Message</p>
                </div>
            </div>



            <div class="msg_cont_footer"></div>
        </div>


    </div>

    <script src="main.js"></script>
</body>

</html>