<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Vue Boolzapp</title>
</head>

<body>
    <!-- Full Background -->
    <div class="bg_header"></div>
    <!-- Container + Vue -->
    <div id="app" class="container">

        <!-- Contact Section -->
        <div class="contact_container">

            <!-- Profile Section -->
            <div class="profile">
                <div class="profile_info">
                    <img :src="myProfile.avatar"alt="">
                    <span class="user_name">{{myProfile.name}}</span>
                </div>
                <div class="profile_icons">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>

            <!-- Notification Section -->
            <div class="notification">
                <i class="fa-solid fa-bell-slash"></i>
                <div>
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>

            <!-- Search Section -->
            <div class="search">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" v-model="searchContactText" @keyup="searchContact()" placeholder="Search Contact">
            </div>

            <!-- All contacts chat section -->
            <div class="all_chats">
                <div v-for="(contact,index) in contacts" class="chat" v-show="contact.visible"
                    @click="selectContact(index)">
                    <img :src="contact.avatar" alt="">
                    <div>
                        <span class="contact_name">{{ contact.name }}</span>
                        <span class="msg_time">12.00</span>
                        <p class="last_msg">Ultimo messaggio inviato</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Messages Section -->
        <div class="message_container">

            <!-- Contact info -->
            <div class="msg_cont_header">
                <img :src="selectedContact.avatar" alt="">
                <div>
                    <p class="contact_name">{{ selectedContact.name }}</p>
                    <p class="contact_time">{{ selectedContact.time }}</p>
                </div>
            </div>

            <!-- Main messages section -->
            <div class="msg_cont_main">
                <div v-for="msg in contacts[currentContact].messages">
                    <p v-if="msg.status == 'received'" class="msg_received">{{ msg.message + '\n' }} <span class="date">{{ msg.date }}</span> </p>
                    <p v-if="msg.status == 'sent'" class="msg_sent">{{ msg.message + '\n'}} <span class="date">{{ msg.date }}</span> </p>
                </div>
            </div>

            <!-- Message Footer Section -->
            <div class="msg_cont_footer">
                <i class="fa-regular fa-face-smile"></i>
                <input v-model="newMessageText" type="text" placeholder="Write a message" @keyup.enter="sendMessage()">
                <i class="fa-solid fa-microphone"></i>
            </div>
        </div>

    </div>

    <script src="main.js"></script>
</body>

</html>