*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: sans-serif;
    background-color: #d9dbd6;
    width: 100vw;
    height: 100vh;
    position: relative;
    
}

/* Background Header */
.bg_header{
    height: 15%;
    background-color: #009688;
}

/* Wrapper */
.container{
    min-width: 75rem;
    height: 45rem;
    position: absolute;
    top: 1.5rem;
    left: 50%;
    display: flex;
    transform: translateX(-50%);

}

/* Profile Section */
.profile{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #dbdbdb;
}

.profile_info{
    width: 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.profile_icons{
    font-size: 1.5rem;
    width: 9rem;
    color: rgb(160, 157, 157);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Notification Section */
.notification div a{
    font-size: 0.95rem;
    font-weight: lighter;
    color: black;
}

.notification{
    background-color: #96d5fd;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    font-weight: bold;
}

.fa-bell-slash{
    font-size: 1.5rem;
    color: #96d5fd;
    background-color: white;
    padding: 1rem;
    border-radius: 50%;
}

/* <!-- Search Section --> */
.search{
    background-color: #dbdbdb;
    display: flex;
    align-items: center;
}

.fa-magnifying-glass{
    color: rgb(160, 157, 157);
    background-color: white;
    width: 10%;
    padding: 0.5rem 1rem;
    margin-left: 0.15rem;
    
}

.search input{
    width: 89%;
    margin: 0.5rem 0;
    border-radius: 0;
    
}

/* Contact Section */
.contact_container{
    width: 35%;
    max-height: 45rem;
    background-color: white;
    
}

.all_chats{
    padding: 0 1rem;
    overflow-y: auto;
    height: 30rem;
}

.chat{
    display: flex; 
    align-items: center;
    gap: 1rem;
    position: relative;
    padding: 1rem 0;
    border-top: 1px solid rgb(219, 216, 216);
}

.contact_name{
    font-weight: bold;
}

.msg_time{
    position: absolute;
    right: 0rem;
    
}

img{
    height: 3rem;
    border-radius: 50%;
}


/* Messages Section */
.message_container{
    width: calc(100% - 35%);
    min-height: 45rem;
    background-image: url(mine.jpg);
    position: relative;
}

/* Contact info Section  */
.msg_cont_header{
    max-height: 5rem;
    width: 100%;
    background-color: #dbdbdb;
    display: flex; 
    align-items: center;
    gap: 1rem;
    position: relative;
    padding: 1rem 0;
}

/* Main messages section */

.msg_cont_main{
    height: calc(100% - 8rem);
    overflow-y: auto;
}

/* Message Footer Section  */

.msg_cont_footer{
    max-height: 3rem;
    width: 100%;
    background-color: #f3eeea;
    position:absolute;
    bottom: 0;
}

.msg_sent{
    width: 18rem;
    height: 3rem;
    background-color: #d5f9ba;
    padding: 0.5rem;
    border-radius: 1rem;
    position: relative;
    left: 28rem;
    margin: 1rem;
}

.msg_received{
    width: 18rem;
    height: 3rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    position: relative;
    left: 1rem;
    margin: 1rem;
}


input{
    width: 41rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    margin: 0.5rem 1.5rem;
    font-size: 1rem;
}

.fa-face-smile{
    font-size: 1.5rem;
    margin-left: 1rem;
    color: rgb(160, 157, 157);

}

.fa-microphone{
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: rgb(160, 157, 157);
}